@import '../../variablesSCSS/variables';
@import "../../animations/swim";
@import "../../animations/swimText";
.projects{
  margin-top: 2%;
  border-radius: $app-border-radius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  min-height: max-content;

  background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  &-tank{
    margin-top: -50px;
    padding-bottom: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    &__link{
      text-decoration: none;
      font-size: 1.2em;
      &_text{
        animation: swimText 20s infinite;
        animation-timing-function:linear;

        &_one{
          @extend .projects-tank__link_text;
          animation-delay: 0.9s;
        }
        &_two{
          @extend .projects-tank__link_text;
        }
        &_three{
          @extend .projects-tank__link_text;
          animation-delay: 0.6s;

        }
        &_four{
          @extend .projects-tank__link_text;
          animation-delay: 1.6s;
        }
      }
    }
    &__fish{
      background: url('../../assets/LootFish.png');
      background-size: cover;
      width: 128px;
      height: 86px;
      transform: scaleX(-1);
      animation: swim 20s infinite;
      animation-timing-function:linear;
      &_one{
        @extend .projects-tank__fish;
        animation-delay: 0.9s;
      }
      &_two{
        @extend .projects-tank__fish;
      }
      &_three{
        @extend .projects-tank__fish;
        animation-delay: 0.6s;

      }
      &_four{
        @extend .projects-tank__fish;
        animation-delay: 1.6s;
      }
    }
  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .projects-tank {
    margin-top: 30px;
    &__fish {
      width: 32px;
      height: 22px;
    }

    &__link {
      font-size: 10px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px) {
  .projects-tank__fish{
    width: 64px;
    height: 43px;
  }
  .projects-tank__link{
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
//@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
//@media only screen and (min-width: 992px) {...}


@media only screen and (min-width: 1200px) {
  .projects-tank__fish{
    width: 128px;
    height: 86px;
  }
  .projects-tank__link{
    font-size: 20px;
  }
}



