@keyframes swimText
{
  0% {
    margin-left: 0px;
    transform: translateY(0);
  }
  5% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(5px);
  }
  15% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(5px);
  }
  35% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(5px);
  }
  45% {
    transform: translateY(-5px);
  }
  50% {
    margin-left: 86%;
    transform: translateY(0);
  }
  51%{
    transform:  scaleX(1);
  }
  55% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(5px);
  }
  65% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  85% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(5px);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    margin-left: 2%;
    transform: translateY(0);
  }
}
