@import '../../variablesSCSS/variables';

.catository{
  margin-top: 2%;

  border-radius: $app-border-radius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  min-height: max-content;

  background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  &-tank{
    //animation: swim 20s;
    padding-bottom: 15px;
    &__fish{
      background: url('../../assets/LootFish.png');
      width: 128px;
      height: 86px;
      transform: scaleX(-1);

      animation-iteration-count: infinite;
      animation: swim 20s infinite;
      animation-timing-function:linear;
      &_one{
        @extend .catository-tank__fish;
        //margin-left: 20%;
        animation-delay: 0.9s;
      }
      &_two{
        @extend .catository-tank__fish;
        //margin-left: 60%;
        //animation-delay: 0.2s;
      }
      &_three{
        @extend .catository-tank__fish;
        animation-delay: 0.6s;

      }
    }
  }

}
@keyframes swim
{
  0% {
    margin-left: 0px;
    transform: translateY(0) scaleX(-1);
  }
  15% {
    transform: translateY(-5px) scaleX(-1);
  }
  25% {
    transform: translateY(0px) scaleX(-1);
  }
  30% {
    transform: translateY(5px) scaleX(-1);
  }
  50% {
    margin-left: 80%;
    transform: translateY(0) scaleX(-1);
  }
  51%{
    transform:  scaleX(1);
  }
 75% {
   transform: translateY(5px);
 }

  100% {
    margin-left: 2%;
    transform: translateY(0);
  }

  //50% {margin-left: 80%;}
}
@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0) scaleX(-1);
  }

    0% {
      margin-left: 0px
    }

  25% {
    transform: translateY(-5px) scaleX(-1);
  }
  70% {
    margin-left: 50%;
  }
  75% {
    transform: translateY(-3px) scaleX(-1);
  }
  100% {
    margin-left: 50%;
  }
}
