@import "../variablesSCSS/variables";
path {
  fill: transparent;
}
text {
  fill: $text;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 5px;
}
.header-title{
  position: absolute;
  top: 50px;
  left: 80px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .header-title{
    top: 20px;
    left: 20px;
& text{
  font-size: 120px;
}
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px) {
  .header-title{
    top: 20px;
    left: 20px;
    & text{
      font-size: 120px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
//@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
//@media only screen and (min-width: 992px) {...}


@media only screen and (min-width: 1200px) {
  .header-title{
    top: 50px;
    left: 80px;
    & text{
      font-size: 120px;
    }
  }
}
