@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import "../variablesSCSS/variables";
.navigation{
  padding-left: 30px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  //grid-gap: 1em;
  width: fit-content;
  block-size: fit-content;
  //max-height: 60vh;

  &-paw{
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    //width: fit-content;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    animation: pawAppear;
    opacity: 0;
    animation-timing-function:linear;
    &__img{
      //animation: pawAppear 20s;
      //animation-timing-function:linear;
      width: 70%;
      height: 88%;
     // margin:0 auto;
    }
    &__text{
      //transform: rotate(0.15turn);
      position: absolute;
      left: 23%;
      bottom: -5%;
      font-family: 'Londrina Solid', cursive;
      font-size: 1.5em;
      color: darken($text,5%);
    }


  }
}

.first{
  grid-column:1/2;
  grid-row: 4/5;
  transform: rotate(0.09turn);
  animation-delay: 0.3s;
}
.second{
  grid-column:2/3;
  grid-row: 2/3;
  transform: rotate(0.1turn);
  animation-delay: 1.0s;
}
.third{
  grid-column:3/4;
  grid-row: 3/4;
  transform: rotate(0.2turn);
  animation-delay: 1.7s;
}
.fourth{
  grid-column:4/5;
  grid-row: 1/2;
  transform: rotate(0.1turn);
  animation-delay: 2.4s;
}
.fifth{
  grid-column:5/6;
  grid-row: 2/3;
  transform: rotate(0.2turn);
  animation-delay: 3.1s;
}
@keyframes pawAppear {
  from { opacity: 0; }
  to   { opacity: 1; }
}
