@import './variablesSCSS/variables';

.overlay{
  background: darken(#ffde22, 10%);
  box-sizing: border-box;
  padding: 2% 2%;
  min-height: 100vh;
}
.app{

  background:
          radial-gradient(darkgreen 15%, transparent 16%) 0 0,
          radial-gradient(green 15%, transparent 16%) 8px 8px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:forestgreen;
  background-size:16px 16px;

  border-radius: $app-border-radius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  min-height: max-content;
}
.header{
  display: flex;
  justify-content: space-around;
  position: relative;
    &__logo{
      &_img{
        width: 100px;
        height: 80px;
        padding: 1em 1em;
      }
    }
  }

.hiding-cat{
  position: fixed;
  bottom:-200px;
  left: 45%;
  z-index: 10;
  animation: catAppear 3s;
  animation-delay: 3.2s;
  &__img{
    width: 150px;
  }

}

@keyframes catAppear {
  0% {
    bottom:-150px;
  }
  50% {
    bottom:-60px;
  }
  100% {
    bottom:-60px
  }

}
